
      <div class="card">
        <div class="card-header card-header-icon">
          <div class="card-icon cardHeader">
            <i class="material-icons">lock_open</i>
          </div>
          <h4 class="card-title">Aperturar Caja
            <button mat-icon-button class="close" (click)="close()">
              <i class="material-icons">close</i> </button>
          </h4>
        </div>
        <br>
        <div class="card-body">
          <div class="row">
            <mat-form-field class="col-sm-6">
              <input matInput type="text" value="" style="text-transform:uppercase;" placeholder="Descripción Caja"
                [(ngModel)]="params.dC" name="caja" #caja="ngModel" readonly>
            </mat-form-field>
            <mat-form-field class="col-sm-6">
              <input matInput type="text" value="" style="text-transform:uppercase;" placeholder="Personal"
                [(ngModel)]="params.nombreEmpleado" name="empleado" #empleado="ngModel" readonly>
            </mat-form-field>
            <mat-form-field class="col-sm-6">
              <input matInput type="text" value="" placeholder="Descripcion Apertura:" maxlength="40"
                [(ngModel)]="params.descripcionCaja" name="descripcionCaja" #descripcionCaja="ngModel" required
                (keypress)="setInputPattern($event, 'soloUnEspacio')"
                [pattern]="setValidatorPattern('soloUnEspacio', setQuantifier('+'), true, true)">
              <mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-sm-6">
              <input matInput placeholder="Monto Apertura:" [(ngModel)]="params.montoApertura"
                name="params.montoApertura" #params.montoApertura="ngModel"
                (keypress)="setInputPattern($event, 'realPrices')"
                [pattern]="setValidatorPattern('realPrices', setQuantifier('+'), true, true)" required>
              <mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="text-center">
            <button mat-raised-button="" [disabled]="params.montoApertura==null || params.descripcionCaja==null"
            (click)="insertarApertura()" type="button" class="btn btn-fill registrar btn-sm btn-primary"
            matTooltip="Registrar"></button>
            &nbsp;<button mat-raised-button="" (click)="close()" type="button" class="btn btn-fill cerrar btn-sm btn-primary"
            matTooltip="Cerrar">
            <i class="material-icons">close</i>
          </button>
          </div>
        </div>
      </div>
