<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"> </div>
            <div class="col-sm-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="">
                            <img class="img"
                                src="{{list[0].foto ? list[0].foto : 'assets/img/credismart/avatar.png'}}">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title" style="text-transform:uppercase;">{{list[0].financiera}}</h3>
                        <h6 class="card-description" style="margin-top: 10px;">
                            {{list[0].noNombre}}
                        </h6>
                        <div *ngIf="flg==0">
                            <h6 class="card-description" *ngIf="listPersonal[0].noDireccion!=null">
                                Dirección: {{ listPersonal[0].noDireccion }}
                            </h6>
                            <h6 class="card-description" *ngIf="listPersonal[0].nuCelular!=null">
                                Teléfono: {{ listPersonal[0].nuCelular }}
                            </h6>
                            <button mat-raised-button class="btn bntAgregar btn-round" (click)="verDatos()"
                                style="margin-top: 10px;">
                                <i class="material-icons">edit</i>&nbsp;&nbsp; Editar
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"> </div>
            <div class="col-sm-10" *ngIf="showEditar==1">
                <div class="card">
                    <form name="CrudEmpleadoForm" #CrudEmpleadoForm="ngForm" novalidate>
                        <div class="card-body">
                            <h4 class="card-title">Datos Personales</h4>
                            <br>
                            <div class="row">
                                <mat-form-field class="col-4">
                                    <input matInput placeholder="Nombre:" [(ngModel)]="params.noNombre"
                                        name="params.noCliente"
                                        (keypress)="setInputPattern($event, 'soloUnEspacioLetra')"
                                        [pattern]="setValidatorPattern('soloUnEspacioLetra', setQuantifier('+'), true, true)"
                                        #params.noCliente="ngModel" readonly>
                                </mat-form-field>
                                <mat-form-field class="col-4">
                                    <input matInput placeholder="Apellidos:" [(ngModel)]="params.noApellido"
                                        name="params.noApellido"
                                        (keypress)="setInputPattern($event, 'soloUnEspacioLetra')"
                                        [pattern]="setValidatorPattern('soloUnEspacioLetra', setQuantifier('+'), true, true)"
                                        #params.noApellido="ngModel" readonly>
                                </mat-form-field>
                                <mat-form-field class="col-4">
                                    <input matInput placeholder="N° Celular:" [(ngModel)]="params.nuCelular"
                                        minlength="9" maxlength="9" name="nuCelular" #nuCelular="ngModel"
                                        (keypress)="setInputPattern($event, 'cellPhone')"
                                        [pattern]="setValidatorPattern('cellPhone', setQuantifier('+'), true, true)"
                                        required>
                                    <mat-error>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-4">
                                    <input matInput placeholder="Fecha de Nacimiento:" [(ngModel)]="params.feNacimiento"
                                        type="date" name="feNacimiento" #feNacimiento="ngModel">
                                </mat-form-field>
                                <mat-form-field class="col-4">
                                    <input matInput placeholder="N° DNI:" [(ngModel)]="params.nuDni" minlength="8"
                                        maxlength="8" name="params.nuDni" #params.nuDni="ngModel"
                                        (keypress)="setInputPattern($event, 'positiveDigits')"
                                        [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
                                        readonly>
                                    <mat-error>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-4">
                                    <textarea matInput placeholder="Dirección:" [(ngModel)]="params.noDireccion"
                                        (keypress)="setInputPattern($event, 'soloUnEspacioNumeroLetraPunto')"
                                        [pattern]="setValidatorPattern('soloUnEspacioNumeroLetraPunto', setQuantifier('+'), true, true)"
                                        name="params.noDireccion" #params.noDireccion="ngModel" matTextareaAutosize
                                        matAutosizeMinRows="2" matAutosizeMaxRows="3" required></textarea>
                                    <mat-error>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-4">
                                    <input matInput placeholder="Cuenta Bancaria:" [(ngModel)]="params.cuentaBancaria"
                                        minlength="16" maxlength="16" name="params.cuentaBancaria"
                                        #params.cuentaBancaria="ngModel"
                                        (keypress)="setInputPattern($event, 'cuentaBancaria')"
                                        [pattern]="setValidatorPattern('cuentaBancaria', setQuantifier('+'), true, true)">
                                    <mat-error>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-4">
                                    <mat-select #listaOpciones placeholder="Seleccione Banco" name="params.idBanco"
                                        #params.idBanco="ngModel" [(ngModel)]="params.idBanco" id="params.idBanco">
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let banco of bancoList" [value]="banco.idBanco">
                                            {{banco.noBanco}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-sm-4">
                                    <h5>Foto</h5>
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail img-circle">
                                            <img class="img"
                                                src="{{list[0].foto ? list[0].foto : 'assets/img/credismart/avatar.png'}}">
                                        </div>
                                        <!-- <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div> -->
                                        <div>
                                            <span class="btn btn-round btn-danger btn-file">
                                                <span class="fileinput-new">Agregar Foto</span>
                                                <span class="fileinput-exists">Cambiar</span>
                                                <input type="file" name="..." (change)="esteRecibe($event)" />
                                            </span>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="category form-category col-12">* Campos requeridos</div>
                            </div>
                        </div>
                    </form>
                    <div class="col-12 text-right ">
                        <button mat-raised-button class="btn bntAgregar btn-round"
                            [disabled]="isInvalid(CrudEmpleadoForm)" (click)="actualizar()">Modificar</button>
                        <button mat-raised-button class="btn btn-rose btn-round" (click)="cancelar()">Cancelar</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>