<div class="wrapper wrapper-full-page">
  <!-- <div class="page-header">
    <img class="responsive" src="assets/img/credismart/Principal.PNG" alt="Responsive image">
  </div> -->
  <div class="page-header login-page"
    style="background-image: url('assets/img/credismart/wallpefinance.jpg'); width: 100%;">
    <div class="col-md-12 text-center">
      <br><br><br><br><br><br><br>
      <div class="col-md-12" >
          <label class="principal-menu">CREDISMART</label>
        <br><br><br>
        <div class="col-sm-12">
          <label class="secundario-menu">CONTROL DE PRÉSTAMOS Y CUENTAS POR COBRAR</label>
        </div>
        <br><br><br><br><br><br><br><br><br><br>
        <label class="tercero-menu">CREDISMART es una plataforma web diseñada para empresas financieras o prestamistas</label>
        <label class="tercero-menu">independientes que desean automatizar su negocio, aumentando sus ingresos y reduciendo tiempo.</label>
        <br>
        <label class="tercero-menu">Contáctenos para obtener más información.</label>
        <br><br><br>
      </div>
    </div>
</div>
<div class="card-body">
  <div data-mesh-internal="true" class="responsive">
    <div data-packed="true" class="col-12 text-center">
      <h3 class="font_6" style="text-align:center; line-height:1.35em;"><span
          style="text-transform:uppercase;">FUNCIONALIDADES</span></h3>
    </div>
    <div data-packed="true" class="col-12 text-center">
      <p class="font_8" style="text-align:center; line-height:1.75em;"><span>Entre las distintas
          funcionalidades que ofrece CREDISMART, a continuación, presentamos algunas.</span></p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class=" cards">
          <div class="card card-pricing card-raised">
            <div class="card-body">
              <h3 class="font_2">PROFORMA</h3>
              <div class="login-page ">
                <img class="responsive" src="assets/img/credismart/proforma.PNG" alt="Responsive image">
              </div>
              <br>
              <h4 class="font_8">
                Calcula préstamos con diferente modalidad de pago (Diario, Semanal, Quincenal, Mensual y Anual). </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class=" cards">
          <div class="card card-pricing card-raised">
            <div class="card-body">
              <h3 class="font_2">REPORTE DE MOVIMIENTOS</h3>
              <br>
              <div class="login-page ">
                <img class="responsive" src="assets/img/credismart/reportes.png" alt="Responsive image">
              </div>
              <br>
              <br>
              <h4 class="font_8">
                Muestra un gráfico de los préstamos y cuentas por cobrar según el mes. </h4>
              <br>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class=" cards">
          <div class="card card-pricing card-raised">
            <div class="card-body">
              <h3 class="font_2">CONTROL DE PRÉSTAMOS</h3>
              <br>
              <div class="login-page ">
                <img class="responsive" src="assets/img/credismart/dinero.png" alt="Responsive image">
              </div>
              <br>
              <h4 class="font_8">
                Desde esta opción podrás ver e imprimir el historial de pago de un préstamo, verás de forma detallada
                los
                pagos realizados. </h4>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class=" cards">
          <div class="card card-pricing card-raised">
            <div class="card-body">
              <h3 class="font_2">CUENTAS POR COBRAR</h3>
              <div class="login-page ">
                <img class="responsive" src="assets/img/credismart/logo1.png" alt="Responsive image">
              </div>
              <br>
              <h4 class="font_8">
                Listado de todos los préstamos que están pendiente de pago. </h4>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class=" cards">
          <div class="card card-pricing card-raised">
            <div class="card-body">
              <h3 class="font_2">RECIBO DE PAGOS</h3>
              <br>
              <div class="login-page ">
                <img class="responsive" src="assets/img/credismart/recibo_opt (1).jpg" alt="Responsive image">
              </div>
              <br>
              <h4 class="font_8">
                Genera e imprime el recibo de cada pago realizado. </h4>
            </div>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class=" cards">
          <div class="card card-pricing card-raised">
            <div class="card-body">
              <h3 class="font_2">PAGARÉ</h3>
              <br>
              <div class="login-page" style="margin-top: 8px;">
                <img class="responsive" src="assets/img/credismart/pagare.PNG" alt="Responsive image">
              </div>
              <br>
              <h4 class="font_8">
                Genera e imprime el pagaré de cada préstamo. </h4>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class=" cards">
          <div class="card card-pricing card-raised">
            <div class="card-body">
              <h3 class="font_2">CONTROL DEL PERSONAL</h3>
              <br>
              <div class="login-page ">
                <img class="responsive" src="assets/img/credismart/personal.jpg" alt="Responsive image">
              </div>
              <h4 class="font_8">
                Desde esta opción podrás consultar y actualizar los datos de tu personal.</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class=" cards">
          <div class="card card-pricing card-raised">
            <div class="card-body">
              <h3 class="font_2">MANEJO DE CAJA/GASTOS</h3>
              <div class="login-page ">
                <img class="responsive" src="assets/img/credismart/caja2.jpg" alt="Responsive image">
              </div>
              <h4 class="font_8">
                Realizar movimientos en cajas con el fin de poder ver el flujo de entrada y salida de dinero. </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="card ">
    <div class="card-body " style="background: gainsboro;">
      <div class="row">
        <div class=" col-md-6">
          <br>
          <br>
          <div data-packed="true" class="col-12 text-center">
            <h3 class="font_6" style="text-align:center; line-height:1.35em;"><span class="color_18"><span
                  style="text-transform:uppercase;">CONTÁCTENOS</span></span></h3>
          </div>
          <div data-packed="true" class="col-12 text-center">
            <p class="font_9" style="text-align:center; line-height:1.875em;"><span class="color_15">Contáctenos y
                descubra cómo su empresa puede beneficiarse de nuestros servicios.</span></p>
            <p class="font_9" style="text-align:center; line-height:1.875em;"><span class="color_15">Email:
                credismart.peru@gmail.com</span></p>
            <p class="font_9" style="text-align:center; line-height:1.875em;"><span class="color_15">Celular:
                910719636</span></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tab-content">
            <div class="tab-pane active">
              <form (ngSubmit)="contactForm(form.value)" name="form" #form="ngForm" style="padding-top: 20px;"
                novalidate>
                <input id="login" class="style-k4q1muivinput" style="padding-left:12px" placeholder="Nombre"
                  name="nombre" ngModel required>
                <input id="email" class="style-k4q1muivinput" style="padding-left:12px" placeholder="Email" name="email"
                  ngModel type="email" required>
                <input id="tele" class="style-k4q1muivinput" style="padding-left:12px" placeholder="Teléfono"
                  name="tele" (keypress)="setInputPattern($event, 'cellPhone')"
                  [pattern]="setValidatorPattern('cellPhone', setQuantifier('+'), true, true)" ngModel required>
                <input id="asunto" class="style-k4q1muivinput" style="padding-left:12px" placeholder="Asunto"
                  name="asunto" ngModel required>
                <textarea style="padding-left:16px;padding-right:10px" placeholder="Escribe tu mensaje aquí..."
                  class="has-custom-focus style-k4q1muittextarea" name="mensaje" ngModel></textarea>
                <div class="col-12 text-center">
                  <br>
                  <input type="submit" class="fadeIn fourth" style="background:  #2563b7 !important;" value="Enviar"
                    [disabled]="isInvalid(form)">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>