<div class="main-content" >
  <div class="container-fluid">
    <div class="card ">
      <div class="card-header  card-header-icon">
        <div class="card-icon cardHeader">
          <i class="material-icons">search</i>
        </div>
      </div>
      <div class="card-body ">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Nombre del Cliente" [(ngModel)]="params.noCliente"
                  [disabled]="disabledN" (input)="busqueda($event.target.value)" matTooltip="Mínimo 3 caracteres"
                  (keypress)="setInputPattern($event, 'lettersNoSpace')"
                  [pattern]="setValidatorPattern('lettersNoSpace', setQuantifier('+'), true, true)">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Número de Documento" [(ngModel)]="params.nuDocide" [disabled]="disabledD"
                  (input)="busquedaDNI($event.target.value)" matTooltip="Ingrese Nro. de Documento" minlength="8" maxlength="12"
                  (keypress)="setInputPattern($event, 'positiveDigits')"
                  [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12  text-right">
              <button mat-raised-button="" (click)="clear()" type="button" class="btn btn-fill clear btn-sm btn-primary" matTooltip="Limpiar" [matTooltipPosition]="'left'">
                <i class="material-icons">clear_all</i>
              </button>
              <!--  <button mat-raised-button="" (click)="clear()" type="button" class="btn btn-fill clear btn-sm btn-primary" matTooltip="Limpiar" [matTooltipPosition]="'left'">
                <i class="material-icons">clear_all</i>
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="col-12 text-right">
          <button mat-raised-button="" [routerLink]="['crudcliente',  '0']"  type="button" class="btn btn-fill search btn-sm btn-primary" matTooltip="Agregar"  [matTooltipPosition]="'left'">
            <i class="material-icons">add</i>
          </button>
        </div>
        <br>
        <div class="material-datatables table-responsive">
          <table id="dtResultado" class="table table-striped table-no-bordered table-hover" cellspacing="0"
            width="100%" style="width:100%">
            <thead class="cabeceraTable">
              <tr>
                <th class="text-center">Cliente</th>
                <th class="text-center">T. Documento</th>
                <th class="text-center">N° Documento</th>
                <th class="text-center">Celular</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Acción</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
