<div class="card">
  <div class="card-header card-header-icon">
    <div class="card-icon cardHeader">
      <i class="material-icons">sync</i>
    </div>
    <h4 class="card-title">Evidencia de la transferencia
      <button mat-icon-button class="close" (click)="close()">
        <i class="material-icons">close</i> </button>
    </h4>
  </div>
  <div class="card-header text-center">
    <img class="img" style="height: 300px;" alt="Responsive image"
      src="{{e.sexo.descripcionSexo  ? e.sexo.descripcionSexo  : 'assets/img/credismart/avatar.png'}}">
  </div>
</div>